@media (max-width:800px) {
    .foto{
        display: none;
    }
    .desc{
      padding-left: 15px;
  
       margin-right: 20px;
    }
    .left{
        margin-left: 80px;
    }
    .img{
  
        flex-direction: column;
       
    }
}